# SQL CHEAT SHEET

### **How to access CLI for locally managed databases with Postres Client on Mac**

![PostgreSQL CLI Client Mac](/Users/hiro0x/Documents/alphaprime/cheat_sheets/screenshots/psql_cli_local_mac.png)

### **Screenshot of a useful extension I've been using for databases. I have postgres locally managed.**

[PostgreSQL Database Client Extension Link](https://database-client.com/#/)

For Interactive Local Mode - STOCKS -  u: postgres db: test

For Interactive Local Mode - BASEBALL - u: postgres db: baseball

![postgreSQL VS Code Extrension Screenshot](/Users/hiro0x/Documents/alphaprime/cheat_sheets/screenshots/vscode_psql_extension_screenshot.png)

## **Queries**

`SELECT` is used every time you want to query data from a database and `*` means all columns

All SQL actions must end with `;`

In [ ]:
SELECT * 
FROM stocks;

SELECT symbol, marketcap
FROM stocks;

`AS` is a keyword allowing you to rename a column:

In [ ]:
-- example - no table for executing locally

SELECT movie_title as 'Title'
FROM movies;

`DISTINCT` filters out duplicates, and only includes unique values in the output

In [ ]:
SELECT DISTINCT industry
FROM stocks;

`WHERE` can be used as a conditional filter 

`IS NULL` & `IS NOT NULL` are common operators to be used with WHERE

In [ ]:
SELECT * 
FROM stocks     
WHERE marketcap > 1000000000000;

SELECT * FROM stocks WHERE sector IS NOT NULL;

`LIKE` useful for finding similar values

For instance, between the two movies 'Seven' & 'Se7en'

% is a wildcard `A%` would match all movies that begin with 'A'

`%man%` would return all movies that contained 'man' in the title

In [ ]:
-- examples only, no table for interactive local mode

SELECT * 
FROM movies
WHERE name LIKE 'Se_en';

SELECT * 
FROM movies
WHERE name LIKE 'A%';

SELECT * 
FROM movies
WHERE name LIKE '%man%';

`BETWEEN` is an operator used in `WHERE` clause to return a result of a specified range

In [ ]:
SELECT *
FROM stocks
WHERE marketcap BETWEEN 500000000000 AND 1000000000000;

`AND` used to combine multiple conditions

`OR` same concept

In [ ]:
SELECT *
FROM stocks
WHERE marketcap BETWEEN 500000000000 AND 1000000000000
   AND sector = 'Healthcare';

SELECT *
FROM stocks
WHERE marketcap BETWEEN 500000000000 AND 1000000000000
   AND sector = 'Healthcare'
   OR symbol LIKE 'A%';

`ORDER BY` operator to sort results

`LIMIT` clause to specify max rows to return

In [ ]:
SELECT * FROM stocks LIMIT 10;

In [ ]:
SELECT *
FROM stocks
WHERE sector = 'Technology'
ORDER BY marketcap DESC;

A `CASE` statement allows us to create different outputs (usually in the `SELECT` statement). It is SQL’s way of handling if-then logic.

In [ ]:
-- examples only, no table for interactive local mode

SELECT symbol,
  CASE
    WHEN genre = 'romance' then 'chill'
    WHEN genre = 'comedy' then 'chill'
    ELSE 'intense'
  END AS 'mood'
FROM movies;

### **RECAP** 

`SELECT` is the clause we use every time we want to query information from a database.

`AS` renames a column or table.

`DISTINCT` return unique values.

`WHERE` is a popular command that lets you filter the results of the query based on conditions that you specify.

`LIKE` and `BETWEEN` are special operators.

`AND` and `OR` combines multiple conditions.

`ORDER BY` sorts the result.

`LIMIT` specifies the maximum number of rows that the query will return.

`CASE` creates different outputs.

## Aggregate Functions 

`COUNT()` count the number of rows

`SUM()` the sum of the values in the column

`MAX()` & `MIN()` the largest/smallest value

`AVG()` the average of the values in a column 

`ROUND()` round the values in the column

Aggregate functions combine multiple rows together to form a single value of more meaningful information.

`GROUP BY` is a clause used with aggregate functions to combine data from one or more columns.

`HAVING` - limit the results of a query based on an aggregate property.

In [ ]:
SELECT COUNT(*)
FROM stocks
WHERE sector = 'Energy';


SELECT SUM(marketcap)
FROM STOCKS symbol
WHERE sector = 'Energy';

-- weak a*^ energy at 1.72T in 2022... 

SELECT MAX(marketcap) FROM stocks;

SELECT MIN(marketcap) FROM stocks;

SELECT AVG(marketcap) FROM stocks;


/* 
ROUND() function takes two arguments inside the parenthesis:

a column name
an integer
*/

SELECT symbol, marketcap, COUNT(*)
FROM stocks
WHERE marketcap > 100000000
GROUP BY symbol, marketcap
ORDER BY symbol;

SELECT

## **Multiple Tables**


`JOIN` will combine rows from different tables if the join condition is true.

`LEFT JOIN` will return every row in the left table, and if the join condition is not met, `NULL` values are used to fill in the columns from the right table.

**Primary key** is a column that serves a unique identifier for the rows in the table.

**Foreign key** is a column that contains the primary key to another table.

`CROSS JOIN` lets us combine all rows of one table with all rows of another table.

`UNION` stacks one dataset on top of another.

`WITH` allows us to define one or more temporary tables that can be used in the final query.

![Multiple Tables Overview](/Users/hiro0x/Documents/alphaprime/cheat_sheets/screenshots/codeacademy_multiple_tables.png)

#### Inner Join 

When we perform a simple `JOIN` (often called an inner join) our result only includes rows that match our ON condition.

Below is a gif showing how it works, and an example from Code Academy - where the third result reflects unique customers, with both online and newspaper subs.

![Inner Join](/Users/hiro0x/Documents/alphaprime/cheat_sheets/screenshots/inner-join.gif)


![Inner Join Example](/Users/hiro0x/Documents/alphaprime/cheat_sheets/screenshots/innerjoin_ex.png)


![Left Join](/Users/hiro0x/Documents/alphaprime/cheat_sheets/screenshots/left-join.webp)




When the **primary key** for one table appears in a different table, it is called a **foreign key**.

`CROSS JOIN`  is a pure combining of two tables without an `ON` conditional. (new columns)

`UNION`  is appending new rows onto an existing table 

SQL has strict rules for appending data:
- Tables must have the same number of columns.
- The columns must have the same data types in the same order as the first table.

In [ ]:
/*
`WITH` statements allow us two combine two tables, when one of the tables
is the results of another calculation/query.
*/

-- not interactive code

WITH previous_query AS (
SELECT customer_id,
       COUNT(subscription_id) AS 'subscriptions'
FROM orders
GROUP BY customer_id)
SELECT customers.customer_name,
previous_query.subscriptions
FROM previous_query
JOIN customers
	ON customers.customer_id = previous_query.customer_id;

-- returns a table listing all of the individual customers
-- along with their number of subscriptions

## MAKE AND POPULATE YOUR OWN DATABASE

Databases are made of columns, which are defined by name and data type

`CREATE TABLE` is the SQL command. 

![SQL data types](/Users/hiro0x/Documents/alphaprime/cheat_sheets/screenshots/sql_column_datatypes.png)

In [ ]:
--To insert data into a PostgreSQL table, use this syntax:

INSERT INTO table_name VALUES (
  column_one_value,
  column_two_value,
  …
  column_N_value
);

## **DATABASE KEYS**

#### Primary Key


A **primary key** is a designation that applies to a column or multiple columns of a table that uniquely identifies each row in the table. For example, a Social Security Number

In [ ]:

/*
CREATE TABLE recipe (
  id integer PRIMARY KEY,
  name varchar(20),
  ...
);
*/

#### Identifying Keys 

The first executed action returns name of the constraint object `constraint_name`, the `table_name`, and `column_name` of the key column.

The second returns only the value for `column_name`.

![pic](/Users/hiro0x/Documents/alphaprime/cheat_sheets/screenshots/key_validation.png)


#### Composite Primary Key 

Sometimes, none of the columns in a table can uniquely identify a record. When this happens, we can designate multiple columns in a table to serve as the primary key, also known as a composite primary key.

In [ ]:
/*
CREATE TABLE popular_recipes (
  recipe_id varchar(20),
  ingredient_id varchar(20),
  downloaded integer,
  PRIMARY KEY (recipe_id, ingredient_id)
);
*/

#### Foreign Key

Representation of a table's **primary key** in another table - refered to as a **foreign key**.

![keys](/Users/hiro0x/Documents/alphaprime/cheat_sheets/screenshots/db_keys.png)

In [ ]:
/*
CREATE TABLE person (
  id integer PRIMARY KEY,
  name varchar(20),
  age integer
);
 
CREATE TABLE email (
  email varchar(20) PRIMARY KEY,
  person_id integer REFERENCES person(id),
  storage integer,
  price money
);
*/

## **Relationships in Databases**

#### One-to-One Relationships

![one-to-one realtionship overview](/Users/hiro0x/Documents/alphaprime/cheat_sheets/screenshots/one_to_one_relationships.png)



#### One-to-Many Relationships



#### Many-to-Many Relationships